@charset "UTF-8";

.ps-exhibition-root {
  display: flex;
  gap: 40px;
}

.ps-exhibition-root .video-root {
  width: 640px;
  height: 1138px;
  position: sticky;
  top: 0;
}

.ps-exhibition-root .exhibition-con {
  flex: 0 0 1200px;
}

.ps-exhibition-root .exhibition-con .innerBox .ex-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.ps-exhibition-root .exhibition-con .innerBox .desc {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
}

.ps-exhibition-root .exhibition-con .innerBox .desc+.desc {
  margin-top: 100px;
}

.ps-exhibition-root .exhibition-con .innerBox .imgBox {
  position: relative;
}

.ps-exhibition-root .exhibition-con .innerBox+.innerBox {
  margin-top: 120px;
}

.ps-exhibition-root .exhibition-con .innerBox.top {
  display: flex;
}

.ps-exhibition-root .exhibition-con .innerBox.top .imgBox {
  flex: 0 0 600px;
}

.ps-exhibition-root .exhibition-con .innerBox .txtBox p {
  color: #fff;
  text-align: left;
  word-break: keep-all;
}

.ps-exhibition-root .exhibition-con .innerBox.top .txtBox {
  padding: 200px 40px 0;
}

.ps-exhibition-root .exhibition-con .innerBox:not(.top) .txtBox {
  padding: 48px 40px 0;
}

.ps-exhibition-root .exhibition-con .innerBox.grid .imgBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.ps-exhibition-root .goodsLink {
  padding: 7px 28px 7px 8px;
  backdrop-filter: blur(30px);
  background: rgba(113, 113, 113, 0.2);
}

.ps-exhibition-root .goodsLink a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ps-exhibition-root .goodsLink {
  position: absolute;
}

.ps-exhibition-root .goodsLink:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  background: url(../../images/web/goods-arrow.png) no-repeat;
  background-size: 6px auto;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.ps-exhibition-root .goodsLink img {
  width: 58px;
  height: 58px;
}

.ps-exhibition-root .goodsLink .goodsDesc * {
  color: #fff;
}

.ps-exhibition-root .goodsLink .goodsDesc>p {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: left;
}

.ps-exhibition-root .goodsLink .goodsDesc .price {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 2px;
}

.ps-exhibition-root .goodsLink .goodsDesc .price strong {
  font-weight: 600;
  font-size: 13px;
}

.ps-exhibition-root .goodsLink .goodsDesc .price strong em {
  font-weight: 400;
  font-style: normal;
}

.ps-exhibition-root .goodsLink .goodsDesc .price p {
  font-weight: 400;
  font-size: 13px;
}